{
  "storage": {
    "auth": "./auth",
    "logs": "./logs",
    "rawDumps": "./raw-dumps",
    "connectorData": "./connector_data"
  },
  "whatsapp": {
    "githubPath": "whatsapp"
  },
  "twitter": {
    "githubPath": "twitter",
    "accounts": [
      "karpathy"
    ],
    "tweetsPerAccount": 100
  },
  "instagram": {
    "githubPath": "instagram",
    "accounts": [
      "instagram"
    ],
    "postsPerAccount": 50
  }
}